*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #fff;
}
.container{
    position: absolute;
    display: block;
    height: 100vh;
    width: 100%;
    top: 50%;
}

.container h1{
    position: relative;
    text-align: center;
}

.container form{
    position: relative;
    width: 50%;
    
}
form .form-group input{
    width: 50%;
    height:30px;
}